<div id="footer" class="container-fluid">
  <div class="row">
  <div class="col-xs-12 col-sm-5">
      <p class="pull-left">Sufia</p>
      <p>&nbsp;v.<%= Sufia::VERSION %></p>
  </div>
    <div class="col-xs-12 col-sm-7">
      <p><strong>Copyright &copy; 2015 Indiana University</strong></p>
      <p><%= t('sufia.background_attribution') %></p>
    </div>
  </div><!-- /footer -->
  </div><!-- /.row -->
</div><!-- /footer -->

